:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f4f5f6;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --textWhite:rgba(255,255,255,.5);
  --textDetail:#666666;
  --textPurple:#6f6cde;
  --colorDark:#343a40;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--textDetail) !important;
}

.text-title{
  font-family: monospace;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}

.text-blue{
  color:var(--lightBlue);
}

.text-bright{
  color:var(--lightBlue);
}

.text-detail{
  color:var(--textDetail);
}

.text-purple{
  color:var(--textPurple);
}

.text-dark{
  color:var(--colorDark);
}

.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size:0.8rem !important;
  font-weight:bold!important;
  color:var(--colorDark);
  border-radius:5px !important;
  border:0.1rem solid var(--colorDark) !important;
}

.btn-black:hover{
  background: var(--colorDark)!important;
  color:var(--mainWhite)!important;
}

.cart-icon-remove{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--textPurple);
}