:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --textWhite:rgba(255,255,255,.5);
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainWhite) !important;
  color:var(--mainDark) !important;
}

.text-title{
  font-family: monospace;
  letter-spacing: 0.3 rem;
  text-transform: uppercase;
}

.text-blue{
  color:var(--mainBlue);
}

.text-bright{
  color:var(--lightBlue);
}